<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/css/common.css">
    <link rel="stylesheet" type="text/css" href="static/css/index.css">
    <title>CoralBot插件管理面板</title>
</head>
<body>
    <div class="main-box">
        {{/*管理栏*/}}
        <div class="manager-box fl">
        </div>
        {{/*内容栏*/}}
        <div class="content-box">
            {{/*内容栏顶部*/}}
            <div class="top"></div>
            {{/*列表栏*/}}
            <div class="list fl"></div>
            {{/*详细信息栏*/}}
            <div class="info fr"></div>
        </div>
        {{/*管理栏*/}}
        <div class="control-box">

        </div>
    </div>
    <br>
</body>
</html>